body {
    background: rgb(1, 151, 14);
    font-family: 'Crete Round', serif;
}
.wrapper {
    display: flex;
    flex-direction: column;
    padding: 0px 0px auto 0px;
    margin-top: 2%;
    justify-content: center;
  }
  
.header {
    color: #fff;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    margin-bottom: 5%;
    padding: 4px 8px;
    border-radius: 4px;
}

.form {
display: flex;
flex-direction: column;
padding: 0px 0px auto 0px;
margin-top: 2%;
align-items: center;
}

#search {
    margin-bottom: 1.75%;
    width: 40%;
    min-width: 360px;
    border: 0;
    padding: 10px;
    box-shadow:0 0 4px 1px rgba(255, 234, 69)
  }

/* block styling */ 
.target {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

h4 {
    text-transform: uppercase;
    margin-top: 10px;
}

/* rest info*/
.address, target p, h4  {
    color: rgb(15, 0, 88);
    justify-content: left;
    max-width: 325px; /* change to match gradient background sizing */
    margin-bottom: 10px;
  }

.block{
    background:linear-gradient(0deg, rgb(255, 238, 0) 14%, rgb(251, 255, 1) 56%, rgb(255, 174, 0) 100%);
    vertical-align: middle;
    border-radius: 4px;
    height: 40%;
    width: 25%;
    margin-bottom: 3%;
    min-width: 360px;
    padding-left: 10px;
    
}

